<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국 형식 신고 양식</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
  

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

  <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
</head>
<body>
  
<header>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center">
      <strong>한국 형식 승인 신고서 양식</strong>
    </a>
  </div>
</div>
</header>

<main>


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <a href="Korea_TypeApproval/HEX_input.html">

           <img src="/images/HEX Icon.jpg" width="300px" height="300px"/>

              <div class="card-body">
              <p class="card-text">Crawler Excavator</p>
              </div>
          </a>
        </div>
      </div>
      <div class="col">
          <div class="card shadow-sm">
            <a href="Korea_TypeApproval/WEX_input.html">

             <img src="/images/WEX Icon.jpg" width="300px" height="300px"/>

                <div class="card-body">
                <p class="card-text">Wheel Excavator</p>
                </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="Korea_TypeApproval/WLR_input.html">

             <img src="/images/WLR Icon.jpg" width="300px" height="300px"/>

                <div class="card-body">
                <p class="card-text">Wheel Loader</p>
                </div>
            </a>
          </div>
        </div>

    </div>
  </div>
</div>
<img src="images/Usage.png" alt="" />

</main>


  <script src="/js/bootstrap.bundle.min.js"></script>

    
</body>
</html>
