<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page.css" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: 'save'
        });
    </script>
    <title>editing <%= blog.title %></title>
</head>

<body>

    <div class="container">
        <div class="paper">
            <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">

                <table class="bordertable">
                    <tr class="borderheader ">
                        <td height="30mm">
                            <div class="form-group">

                                <label for="title" class="text-white">Title</label>
                                <input type="text" class="form-control" placeholder="Title" name="title"
                                    value="<%= blog.title %>" required>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <div class="form-group">

                                <textarea name="description" placeholder="Description" class="form-control">

                                    <%= blog.description %>
                                </textarea>
                            </div>
                        </td>

                    </tr>
                </table>
                <div class="form-group">
                    <a href="/" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
        </form>
    </div>



</body>

</html>